/* donate css styles */

.donate-blue-box-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    height: 100%;
    background-color: #EAFCFB;
}

.donate-blue-box-middle {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 115%;
    height: 30%;
    background-color: #5C6E93;
}

.donate-box-text {
    margin-top: 20%;
    font-size: 3rem;
    font-family: 'Open Sans', sans-serif;
    line-height: 5.45rem;
    width: 85%;
    color: #FFFDFD;
    text-align: center;
}

.donate-box-line {
    margin-bottom: 20%;
    height: 0;
    width: 10%;
    border: 1px solid #FFFDFD;
}

@media only screen and (max-width: 1000px) {
    .donate-box-text {
        line-height: 4.2rem;
        width: 100%;
    }
}

@media only screen and (max-width: 800px) {
    .donate-blue-box-section {
        display: none;
    }
}


@font-face
{
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-style: normal;

    src: url('../fonts/slick.Roboto-Regular.ttf');
}