*,
*::before,
*::after {
  box-sizing: border-box;
}
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

html{
    font-size:62.5%;
    text-decoration: none;
}
ul{
    margin: 0;
}

.blue-box{
    display:flex;
    align-items: center;
    justify-content: space-around;
    padding-left:17.5%;
    padding-right:17.5%;
    width:auto;
    
    background-color: #EAFCFB;
    font-size: 3rem;
    line-height: 4rem;
    line-height: 4rem;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.intro-text{
    width:40%;
}

.intro-vertline{
    margin-top: 7.5rem;
    margin-bottom: 8.5rem;
    height:28rem;
    border-left: 1px solid black;
}

@media only screen and (max-width: 1800px) {
    .blue-box{
        padding-left: 10%;
        padding-right: 10%;
    }
}
@media only screen and (max-width: 1200px) {
    .blue-box{
        padding-left: 0%;
        padding-right: 0%;
    }
}
@media only screen and (max-width: 770px) {
    .blue-box{
        font-size: 1.2rem;
        line-height: 1.63rem;
    }
    .intro-text{
        width:32.7%;
    }
    
    .intro-vertline{
        margin-top: 2.5rem;
        margin-bottom: 2rem;
        height:7.8rem;
        border-left: 1px solid black;
    }
    
}
@media only screen and (max-width: 350px) {
    .blue-box{
        font-size: 1.1rem;
        line-height: 1.53rem;
    }
    .intro-text{
        width:40%;
    }    
}