/* Blue Box */
.blue-box{
    background-color: #EAFCFB;
}
.blue-content{
    display:flex;
    align-items: center;
    justify-content: space-around;
    width:70%;
    margin: 0 auto;
    min-width: 50rem;
    font-size: 2rem;
    text-align: center;
}
.intro-text{
    width:45%;
}
.intro-vertline{
    margin-top: 5rem;
    margin-bottom: 6rem;
    height:18rem;
    border-left: 1px solid black;
}

/* @media only screen and (max-width: 1200px) {
    .blue-box{
        padding-left: 20rem;
        padding-right: 18rem;
    }
} */
@media only screen and (max-width: 800px) {
    .blue-box{
        /* padding-left: 9rem;
        padding-right: 8rem; */
    }
    .intro-text{
        width:40%;
    }
    
    .intro-vertline{
        margin-top: 2.5rem;
        margin-bottom: 2rem;
        height:7.8rem;
        border-left: 1px solid black;
    }
}
@media only screen and (max-width: 500px) {
    .blue-box{
        padding-left: 3rem;
        padding-right: 4rem;
    }
    .intro-text{
        width:44%;
    }
    
    .intro-vertline{
        margin-top: 3rem;
        margin-bottom: 2.5rem;
        height:7.8rem;
        border-left: 1px solid black;
    }
}
@media only screen and (max-width: 350px) {
    .intro-text{
        width:45%;
    }    
}