*,
*::before,
*::after {
  box-sizing: border-box;
}
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

html{
    font-size:62.5%;
    text-decoration: none;
}
ul{
    margin: 0;
}

.blue-box{
    display:flex;
    align-items: center;
    justify-content: space-around;
    padding-left:30rem;
    padding-right:30rem;
    width:auto;
    
    background-color: #EAFCFB;
    font-size: 3rem;
    line-height: 4rem;
    line-height: 4rem;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.intro-text{
    width:48rem;
}

.intro-vertline{
    margin-top: 7.5rem;
    margin-bottom: 8.5rem;
    height:28rem;
    border-left: 1px solid black;
}
