*,
*::before,
*::after {
  box-sizing: border-box;
}
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

html{
    font-size:62.5%;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}
ul{
    list-style-type: none;
    margin: 0;
}

.important-info{
    width: auto;
    height: 13rem;
    background-color: #DFF4F3;
    font-size: 4rem;
    display: flex;
    align-items: center;
    padding-left:22rem; 
    
}
#info-list li::before{
    content: "\25A0";
    color: #5C6E93;
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 5rem; /* Also needed for space (tweak if needed) */
    padding-top: 2rem;
    margin-left: -5rem; /* Also needed for space (tweak if needed) */
}
#info-list{
    margin-top: 4rem;
    display:flex;
    /* list-style-type: square; */
    flex-direction:column;
    font-size: 2.5rem;
    margin-left: 18rem;
    margin-right: 18rem;
}

#info-icon-list{
    margin-top: 20rem;
    margin-right: 16rem;
    margin-left: 16rem;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}
.info-icon-box{
    text-align: center;
    font-size: 2.5rem;
    color: #807C7C;
    background-color: #F1F1F1;
    width: 28%;
    /* height: 40rem; */
    line-height: 3.4rem;
}
.info-icon-text{
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 3rem;
    margin-bottom: 4rem;
}
.info-icon-image1{
    margin-left:auto;
    margin-right:auto;
    margin-top: -5rem;
    width:17rem;
}
.info-icon-image2{
    margin-left:auto;
    margin-right:auto;
    margin-top: -5rem;
    width:17rem;
}
.info-icon-image3{
    margin-left:auto;
    margin-right:auto;
    margin-top: -5rem;
    width:17rem;
}